body {
  margin: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

/* ul {
  display: flex;
  gap: 10px;
} */
form {
  display: flex;
  align-items: center;
}
select,
input {
  height: 30px;
  margin-left: 10px;
  border-radius: 20px;
  padding: 0 10px;
  border: none;
  background-color: bisque;
}

button {
  height: 30px;
  margin-left: 10px;
  border-radius: 20px;
  padding: 0 10px;
  border: none;
  cursor: pointer;
  background-color: aquamarine;
}

button:hover {
  background-color: aqua;
}

.button-x {
  padding: 0;
  padding-right: 5px;
  border: none;
  color: red;
  background-color: saddlebrown;
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  background-color: orangered;
}

.sub-header {
  background-color: orange;
}

.main {
  background-color: saddlebrown;
  color: #fff;
  height: 75vh;
}

.footer {
  background-color: aquamarine;
  color: saddlebrown;
  font-weight: bold;
}
